<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xmlns:th='http://www.thymeleaf.org'>
    <head>
        <title>Checkout</title>
        <style>
            body {
                font-family: 'arial';
            }
            #checkout-form input,
            #checkout-form button {
                display: block;
                margin: 12px;
            }
        </style>
    </head>
    <body>
        <form action='/charge' method='POST' id='checkout-form'>

            <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->

            <script src="https://js.stripe.com/v3/"></script>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var stripePublicKey =/*[[${stripePublicKey}]]*/ 'stripePublicKey';
                var sessionIdVal =/*[[${sessionId}]]*/ 'sessionId';
                /*]]>*/
                var stripe = Stripe(stripePublicKey);

                stripe.redirectToCheckout({
                    // Make the id field from the Checkout Session creation API response
                    // available to this file, so you can provide it as parameter here
                    // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
                    sessionId: sessionIdVal
                }).then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer
                    // using `result.error.message`.
                });
            </script>
        </form>
    </body>
</html>
